

header{
    text-align: center;
    background-color: rgb(212, 168, 253);
    padding: 15px;

}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.3;
    color: #131212;
    border: none
}
img{
    float: left;
    margin: 20px;
 }



footer{
    text-align: center;
    padding: 20px;
    background-color:rgb(212, 168, 253); ;
    margin-bottom: 20px;

}



