*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "sidebar header"
        "sidebar contenido"
        "sidebar footer";
    min-height: 100vh;
    background-color: #000;
    color: white;
}

.sidebar {
    grid-area: sidebar;
    background-color: #111;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 100px;
}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.header {
    grid-area: header;
    background-color: #111;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
}

.logo {
    width: 50px;
    height: auto;
    
    
}

.site-title {
    font-size: 28px;
    font-weight: bold;
    color: #ff3333;
    margin: 0;
    
}


.estrenos {
    font-size: 30px;
    font-weight: bold;
    color:#ff3333 ;
    margin-left: 200px;
}


.marquee-container {
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-container img {
    width: 80px;
    margin: 0 10px;
}


.contenido {
    grid-area: contenido;
    text-align: center;
    padding: 20px;
}


.grid-series {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 15px;
    padding: 20px;
    justify-content: center;
}

.grid-series img {
    width: 100%;
    border-radius: 10px;
}

.footer {
    grid-area: footer;
    background-color: #111;
    text-align: center;
    padding: 10px;
}
