body{
    display: flex;
    background-color: #4a2cd4;
    text-align: center;
    flex-direction: column;
    align-items: center;
   
}



.container{
    display: flex;
    height: 800px;
    width: 1000px;
    justify-content:space-evenly ;
    align-items: flex-end;

   
   
   
    
    
}


.caja1{
    background-color: rgb(255, 255, 255);
    color: black;
    height: 500px;
    width: 250px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    border-radius: 10px;


    

}
    
.caja2{
    background-color: rgb(255, 255, 255);
    color: black;
    height: 600px;
    width: 300px;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2); 
    border-radius: 10px;
   


}
.caja3{
    background-color: rgb(255, 255, 255);
    color: black;
    height: 500px;
    width: 250px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    border-radius: 10px;


}

.price{
    font-size: 40px;
    font-weight: bold;
    color: rgb(119, 48, 184);
}
.titulo{
    color: rgb(240, 191, 45);
   font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    color: #4a2cd4;
    text-decoration: none;
    font-weight: bold;
   
}


.btn2{
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background: #4a2cd4;
    color: white;
    width: 70%;
   
}
.emoji{
    font-size: 40px;
    display: block;
    margin-top: 10px;
}




.most-popular {
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgb(255, 243, 215);
    color: rgb(134, 15, 247);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    width: 70%;
    padding: 20px;
    
   
    
   
}
            
h1 {
    color: white;
    margin-top: 20px;
    font-size: 60px;
}
h3{
    color: white;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}